<!-- <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>RRS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body style="background-color: rgb(127, 173, 150);">
    <!-- <div>
     <form>
        <h3 style="text-align: left;">Search Available Trains:</h3>
        <div class="form-group" style="float: center;">
          <input class="hh" type="text"  [(ngModel)]="train.trainFrom" class="form-control" placeholder="SOURCE" name="trainFrom">
          <button type="submit" class="btn btn-default" (click)="searchFrom(trainFrom)" style="color: honeydew; background: blue;">SEARCH SOURCE</button>
        </div>
          
          <br>
          <div class="form-group" style="float:center;"> 
          <input type="text" [(ngModel)]="des" class="form-control" placeholder="DESTINATION" name="des">
          <br>
          <button type="submit" class="btn btn-default" (click)="searchTo()" style="color: honeydew; background: blue;">SEARCH TRAINS</button>
          </div>
      </form>
    </div> -->

  <!--  <div class="row">
        <div class="col-lg-9 col-sm-12 mt-5">
            <input type="text" placeholder="Enter Source" class="form-control" name="trainFrom" [(ngModel)]="trainFrom">
        </div>
        <div class="col-lg-3 col-sm-12 mt-5">
            <button type="button" class="btn btn-info" (click) = "searchFrom()">Search</button>
        </div>
    </div>

    <br>
    <br>

<div class="container">
  <h2 style="text-align: center; font:bold ; background-color: rgb(21, 55, 83); color: coral;">List of Trains Available</h2>
  <table class="table table-striped">
      <thead style="color: darkolivegreen; background-color: lightblue;">
          <tr>
              <th>Train No</th>
              <th>Train Name</th>
              <th>Train From</th>
              <th>Train To</th>
              <th>Fare</th>
              <th>Seats Available</th>
              <th>Time</th> 
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let train of trains">
        <td>{{train.trainNo}}</td>
        <td>{{train.trainName}}</td>
        <td>{{train.trainFrom}}</td>
        <td>{{train.trainTo}}</td>
        <td>{{train.fare}}</td>
        <td>{{train.seats}}</td>
        <td>{{train.time}}</td>
        </tr>
      </tbody>
  </table>
  </div>

</body>
  </html> -->



  <!-- <!DOCTYPE html>
  <html>
  <head>
      <meta charset="utf-8">
      <title>RRS</title>
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  </head>
  <div class="Head">
    <h1 style="color:maroon;">
        <img src="http://4.bp.blogspot.com/-VcLr2ciRKXw/UOhPFiUbIwI/AAAAAAAADrw/1xtC-vsJETU/s1600/Government+of+Pakistan+Logo.jpg" height ="150px" width ="180px" align="right">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt9pJ7-ICXQMgoMPRAFTAfZOzVqC2ZKpbvVgQvtfEieofa91mo3UslLRX9SaP2gHnCXcw&usqp=CAU" height ="150px" width ="180px" align="left">
        <br>WELCOME TO<br><br>ONLINE RAILWAY RESERVATION SYSTEM<br>
     </h1>
        
    <marquee width="100%" direction="left" height="25px" scrollamount="10" style="color: rgb(7, 7, 7); background-color: rgb(247, 204, 95); margin-bottom: auto; padding-top: 4px; font-size: 17px; word-spacing: 8px;">
            WELCOME TO RAILWAYS TRANSPORTATION  -  WE ARE AVAILABLE FOR 24*7  -  HAVE A HAPPY & SAFE JOURNEY
        </marquee>
        <a mat-raised-button color routerLink="/home">Back To Home</a>
        </div>

  <div class="container">
      <h2><b>Search Trains</b></h2>

    <div class="row">
        <div class="col-lg-9 col-sm-12 mt-5">
            <input type="text" placeholder="Enter Source" class="form-control" name="trainFrom" [(ngModel)]="trainFrom">
        </div>
        <div class="col-lg-3 col-sm-12 mt-5">
            <button type="button" class="btn btn-info" (click) = "searchFrom()">From</button>
        </div>
        <div class="col-lg-9 col-sm-12 mt-5">
            <input type="text" placeholder="Enter Destination" class="form-control" name="trainTo" [(ngModel)]="trainTo">
        </div>
        
        <div class="col-lg-3 col-sm-12 mt-5">
            <button type="button" class="btn btn-info" (click) = "searchTo()" style="width: 60px;">To</button>
        </div>
        <div class="col-lg-3 col-sm-12 mt-5">
            <button type="button" class="btn btn-info" (click) = "searchbw(trainFrom,trainTo)">Search</button>
        </div>
    </div>
    <h2 class="mt-5"><b>LIST OF TRAINS</b></h2>
    <div class="row col-lg-12 col-sm-12">
        
        <table class="table table-striped">
            <thead style="color: darkolivegreen; background-color: lightblue;">
                <tr>
                    <th>Train No</th>
                    <th>Train Name</th>
                    <th>Train From</th>
                    <th>Train To</th>
                    <th>Fare</th>
                    <th>Seats Available</th>
                    <th>Time</th>         
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let train of trains">
              <td>{{train.trainNo}}</td>
              <td>{{train.trainName}}</td>
              <td>{{train.trainFrom}}</td>
              <td>{{train.trainTo}}</td>
              <td>{{train.fare}}</td>
              <td>{{train.seats}}</td>
              <td>{{train.time}}</td>
              </tr>
            </tbody>
        </table>
        
    </div>
</div> -->


<!-- <div class="container">
    <h2 style="text-align: center; font:bold ; background-color: rgb(21, 55, 83); color: coral;">List of Trains Available</h2>
    <table class="table table-striped">
        <thead style="color: darkolivegreen; background-color: lightblue;">
            <tr>
                <th>Train No</th>
                <th>Train Name</th>
                <th>Train From</th>
                <th>Train To</th>
                <th>Fare</th>
                <th>Seats Available</th>
                <th>Time</th>         
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let train of trains">
          <td>{{train.trainNo}}</td>
          <td>{{train.trainName}}</td>
          <td>{{train.trainFrom}}</td>
          <td>{{train.trainTo}}</td>
          <td>{{train.fare}}</td>
          <td>{{train.seats}}</td>
          <td>{{train.time}}</td>
          </tr>
        </tbody>
    </table>
    </div> -->
    <!-- <head>
        <meta charset="utf-8">
        <title>RRS</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head> -->
    <div class="Head">
      <h1 style="color:maroon;">
          <img src="http://4.bp.blogspot.com/-VcLr2ciRKXw/UOhPFiUbIwI/AAAAAAAADrw/1xtC-vsJETU/s1600/Government+of+Pakistan+Logo.jpg" height ="150px" width ="180px" align="right">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt9pJ7-ICXQMgoMPRAFTAfZOzVqC2ZKpbvVgQvtfEieofa91mo3UslLRX9SaP2gHnCXcw&usqp=CAU" height ="150px" width ="180px" align="left">
          <br>WELCOME TO PAKISTAN<br><br>ONLINE RAILWAY RESERVATION SYSTEM<br>
       </h1>
          
      <marquee width="100%" direction="left" height="25px" scrollamount="10" style="color: rgb(7, 7, 7); background-color: rgb(247, 204, 95); margin-bottom: auto; padding-top: 4px; font-size: 17px; word-spacing: 8px;">
              WELCOME TO PAKISTAN RAILWAYS TRANSPORTATION  -  WE ARE AVAILABLE FOR 24*7  -  HAVE A HAPPY & SAFE JOURNEY
          </marquee>
    <p-card>
        <p-panel>
            <ng-template pTemplate="header">
                <span style="font-size: 20px; font-weight: '500';">Search Trains</span>
            </ng-template>
            <ng-template pTemplate="icons">
                <button pButton class="p-panel-header-icon p-link" (click)="backNavigation()">
                    <span style="font-weight: bolder;font-size: 23px;color: blue;" class="pi pi-arrow-left"></span>
                </button>
            </ng-template>
                <div class="container p-fluid">
                <div class=" row">
                    <div class="col-lg-4 col-sm-12 mt-5">
                        <label><b>Source :</b>    
                        </label><br>
                        <input class="form-control input-lg" name="trainFrom" [(ngModel)]="trainFrom" placeholder="Enter Source" type="text" pInputText />
                    </div>
                    <div class="col-lg-4 col-sm-12 mt-5"><label><b>Destination :</b>
                        </label><br> <input class="form-control input-lg"  name="trainTo" [(ngModel)]="trainTo" placeholder="Enter Source" type="text" pInputText /></div>
                        <div class="col-lg-2 col-sm-12 mt-4">
                            <p-button label="Search" icon="pi pi-search" iconPos="left" (click) = "searchbw(trainFrom,trainTo)"></p-button>
                            <!-- <button type="button" class="btn btn-info" (click) = "searchbw(trainFrom,trainTo)">Search</button> -->
                            </div>
                </div>
                       </div>
    
        </p-panel>
        <br>
        
        
            <div><h2 style="color:rgb(252, 239, 213);">TRAINS SCHEDULE</h2></div>
            <p-table [value]="trains">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Train No</th>
                        <th>Train Name</th>
                        <th>Train From</th>
                        <th>Train To</th>
                        <th>Fare</th>
                        <th>Seats Available</th>
                        <th>Time</th>     
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-trains>
                    <tr>
                        <td>{{trains.trainNo}}</td>
                        <td>{{trains.trainName}}</td>
                        <td>{{trains.trainFrom}}</td>
                        <td>{{trains.trainTo}}</td>
                        <td>{{trains.fare}}</td>
                        <td>{{trains.seats}}</td>
                        <td>{{trains.time}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    
    